<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My website</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap"
      rel="stylesheet"
    />
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <ul>
        <li><a href="">HOME</a></li>
        <li><a href="" id="create">CREATE</a></li>
      </ul>
      <div class="container">
        <div class="inner">
          <h1>Ez lesz a cím helye</h1>
          <p>
            Ez pedig lesz valami content, még írok ide valamit mert úgyis
            hosszabb lesz, ami ide fog kerülni
          </p>
        </div>
      </div>
    </header>

    <div class="container">
      <main>
        <!--
        <div class="box">
          <img src="../public/img/pic0.jpg" alt="picture" width="200px" />
          <h3>Hely neve</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ab,
            consequatur aliquid aliquam saepe magnam, cupiditate beatae
            inventore non, sed quia deleniti at soluta praesentium hic dicta
            amet possimus? Enim.
          </p>
          <button>Show</button>
        </div>

        <div class="box">
          <img src="../public/img/pic1.jpg" alt="picture0" width="200px" />
          <h3>Hely neve</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ab,
            consequatur aliquid aliquam saepe magnam, cupiditate beatae
            inventore non, sed quia deleniti at soluta praesentium hic dicta
            amet possimus? Enim.
          </p>
          <button>Show</button>
        </div>

        <div class="box">
          <img src="../public/img/pic2.jpg" alt="picture1" width="200px" />
          <h3>Hely neve</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ab,
            consequatur aliquid aliquam saepe magnam, cupiditate beatae
            inventore non, sed quia deleniti at soluta praesentium hic dicta
            amet possimus? Enim.
          </p>
          <button>Show</button>
        </div>

        <div class="box">
          <img src="../public/img/pic3.jpg" alt="picture2" width="200px" />
          <h3>Hely neve</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ab,
            consequatur aliquid aliquam saepe magnam, cupiditate beatae
            inventore non, sed quia deleniti at soluta praesentium hic dicta
            amet possimus? Enim.
          </p>
          <button>Show</button>
        </div>-->
      </main>
      <section></section>
    </div>

    <footer>
      <div class="container">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </div>
    </footer>

    <script src="javascript.js"></script>
  </body>
</html>
